@charset "UTF-8";
html {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

input,button,select,optgroup,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 6px;
	color: #fff;
	border: 2px;
	background-color: #007bff;
	transition: background-color .2s
}
button:hover {
	background-color: #0069d9;
}
button:active {
	background-color: #003c7c;
}
button:disabled {
	opacity: .5;
	pointer-events: none;
}

input {
	padding: 6px 12px;
	border-radius: 6px;
	color: #495057;
	border: 2px solid #ced4da;
}

table {
	widows: 100%;
	text-align: left;
}

table th {
	padding: 12px;
	border-bottom: 2px solid darkgray;
}

table td {
	padding: 12px;
}

table tr:nth-of-type(even) {
	background-color: rgba(0, 0, 255, .1);
}
textarea {
	width: 500px;
	height: 200px;
}
select {
	border: 2px solid #ced4da;
}
