<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <my-component></my-component>
    <my-component2></my-component2>

    <comp-child val="これは子A"></comp-child>
    <comp-child val="これは子B"></comp-child>

    <comp-child val="classとidのテスト" id="parent" class="parent"></comp-child>

    <ul>
      <item-list v-for="item in list"
        v-bind:key="item.id"
        v-bind:name="item.name"
        v-bind:hp="item.hp"
        ></item-list>
    </ul>

    <ul>
      <child-attack v-for="item in list"
        v-bind:key="item.id"
        v-bind:name="item.name"
        v-bind:hp="item.hp"
        ></child-attack>
    </ul>
  </div>

  <script>
    Vue.component('my-component', {
      template: '<p>MyComponent</p>'
    })

    Vue.component('comp-child', {
      // テンプレートで受け取ったvalを使用
      template: '<p id="child" class="child">{{ val }}</p>',
      // 受け取る属性名を指定
      props: ['val']
    })

    Vue.component('item-list', {
      template: '<li>{{ name }} HP.{{ hp }}</li>',
      props: ['name', 'hp']
    })

    var myComponent2 = {
      template: '<p>MyComponent2</p>'
    }

    Vue.component('child-attack', {
      template: '<li>{{ name }} HP.{{ hp }}\
                  <button v-on:click="doAttack">攻撃する</button></li>',
      props: ['name', 'hp'],
      methods: {
        doAttack: function(){
          this.hp -= 10
        }
      }
    })

    new Vue({
      el: '#app',
      components: {
        'my-component2': myComponent2
      },
      data: {
        list: [
          { id: 1, name: 'スライム', hp: 100 },
          { id: 2, name: 'ゴブリン', hp: 200 },
          { id: 3, name: 'ドラゴン', hp: 500 },
        ]
      }
    })
  </script>
</body>
</html>