<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      名前 <input v-model="name">
      <button v-on:click="doAdd">モンスターを追加</button>
    </div>
    <ul>
      <li v-for="(item, index) in list"
          v-bind:key="item.id"
          v-bind:class="{ strong: item.hp > 300 }">
          ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
          <span v-if="item.hp > 300">強い！</span>
          <button v-on:click="doRemove(index)">モンスターを削除</button>
      </li>
    </ul>
    <div>
      <button @click="changeList">リストの値を更新</button>
    </div>
  </div>
  <script>
    var list = [
      {id: 1, name: "スライム", hp: 100},
      {id: 2, name: "ゴブリン", hp: 200},
      {id: 3, name: "ドラゴン", hp: 500},
    ]
    new Vue({
      el: '#app',
      data: {
        name: 'キメラ',
        list: list
      },
      methods: {
        doAdd: function(){
          // リスト内で一番大きいidを取得
          var max = this.list.reduce(function(a, b){
            return a > b.id ? a : b.id
          }, 0)

          // 新しいモンスターをlistに追加
          this.list.push({
            id: max + 1,
            name: this.name,
            hp: 500
          })
        },
        doRemove: function(index){
          // 受け取ったindexの位置から１つ要素を削除
          this.list.splice(index, 1)
        },
        changeList: function(){
          // this.$set(更新するデータ, インデックス or キー, 新しい値)
          this.$set(this.list, 0, {id: 1, name: "キングスライム", hp: 600})
        }
      }
    })
  </script>
</body>
</html>